@import "_global.scss";

main{
    .banner{
        width: 100%;
        height: 400px;
        // display: flex;
        position: relative;
        overflow: hidden;
        >img{
            width: 100%;
            height: 100%;
            object-fit: cover;  /* 將圖片放大以填滿容器，保持寬高比 */
            opacity: 0.9;
            position: absolute;
            transition: opacity 0.5s ease-in-out;
        } 
    }
    >h2{
        color: #001D35;
        display: flex;
        justify-content: center;
    }
    .place{
        >div{
            z-index: 1;
            display: flex;
            justify-content: center;
            >p{
                color: #001D35;
                background-color: #FFC7C7;
                display: flex;
                justify-content: center;
                width: 15%;
                padding: 7px;
                margin: 20px;
                font-size: 16px;
                font-weight: bold;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .address{
            width: 80%;
            padding: 0 0 0 15%;
            display: grid;
            grid-template-columns: repeat(4, 1fr); /* 创建3列，每列等分剩余空间 */
            grid-gap: 15px; /* 列间距和行间距 */
            >div{
                width: 40%;
                padding: 15px;
                border-radius: 10px;
                >div{
                    margin: 15px 0;
                    display: flex;
                    justify-content: center;
                    font-weight: bold;
                    font-size: 18px;
                    background-color: #fff;
                }
                >p{
                    color: #001D35;
                    line-height: 24px;
                    background-color: #fff;
                }
                .map{
                    color: #001D35;
                    background-color: #FFDDDD;
                    >a{
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
        // .ntp{
        //     display: block;
        //     .tp, .ty{
        //     display: none;
        //     }
        // }

        // .tp{
        //     display: block;
        //     .ntp, .ty{
        //     display: none;
        //     }
        // }
        
        // .ty{
        //     display: block;
        //     .ntp, .tp{
        //     display: none;
        //     }
        // }
    }
}