@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background-color: #FFFEF9;
}
body ul,
body ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
  color: #001D35;
}
body header > nav .top {
  height: 35px;
  background-color: #8C1E1E;
}
body header > nav .bottom {
  z-index: 50;
  height: 50px;
  background-color: white;
  padding: 10px 0 10px 25px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
body header > nav .bottom > a > img {
  width: 200px;
}
body header > nav .bottom .nav_left {
  display: flex;
  flex-direction: row;
  margin: 1%;
  width: 60%;
  position: relative;
  left: 0%;
}
body header > nav .bottom .nav_left .good:hover .menu {
  display: block;
}
body header > nav .bottom .nav_left .good a {
  margin-right: 20px;
}
body header > nav .bottom .nav_left .good .menu {
  margin-top: 5px;
  z-index: 2;
  position: absolute;
  display: none;
  background-color: beige;
}
body header > nav .bottom .nav_left .good .menu li {
  padding: 10px;
}
body header > nav .bottom .nav_left .good .menu li:hover {
  background-color: #FFFEF9;
}
body header > nav .bottom .nav_right {
  list-style-type: none;
  display: flex;
  position: absolute;
  right: 8px;
  top: 6%;
}
body header > nav .bottom .nav_right > li {
  margin-right: 10px;
}
body header > nav .bottom .nav_right > li > a {
  color: #001D35;
}
body header > nav .bottom .nav_right > li > a > img {
  width: 32px;
  height: 32px;
}
body header > nav .bottom .nav_right > div {
  display: none;
}
body header > nav .bottom .nav_right > div > ol {
  list-style: none;
  padding-left: 0;
}
body header > nav .bottom .nav_right > div > ol > li > a {
  text-decoration: none;
}
body header > nav .bottom .nav_right > div > input {
  display: none;
}
body header > nav .bottom .nav_right > div > input::checked ~ .menu {
  max-height: 300px;
}
body header > nav .bottom .nav_right > div > label {
  padding-right: 50px;
  line-height: 50px;
  cursor: pointer;
}
body header > nav .bottom .nav_right > div #burger:checked + .menu1 {
  display: block;
}
body header > nav .bottom .nav_right > div .menu1 {
  clear: both;
  background: beige;
  display: none;
  position: absolute;
  right: 20%;
  top: 70%;
}
body header > nav .bottom .nav_right > div .menu1 li {
  padding: 5px;
  border-bottom: 1px solid #efefef;
}
body header > nav .bottom .nav_right > div .menu1 li a {
  display: block;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
}
body header > nav .bottom .nav_right > div .menu1 li a:hover {
  background: #FFFEF9;
  color: #000;
}

main .contect > p {
  color: #001D35;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer .foot {
  color: white;
  background-color: #8C1E1E;
  height: auto;
  padding: 10px;
}
footer .foot > center {
  margin: 0;
  justify-content: center;
}
footer .foot > center .p1 {
  font-size: 20px;
  margin: 5px 0;
}
footer .foot > center .p2 {
  font-size: 16px;
  margin: 5px 0;
}

@media (max-width: 768px) {
  body header > nav .bottom > a > img {
    width: 150px;
    margin-top: 5px;
  }
  body header > nav .bottom .nav_left {
    display: none;
  }
  body header > nav .bottom .nav_right {
    position: relative;
    top: 10px;
    right: 20px;
  }
  body header > nav .bottom .nav_right > li > a > img {
    width: 26px;
    height: 26px;
  }
  body header > nav .bottom .nav_right > div {
    display: block;
    width: 26px;
    height: 26px;
  }
  body header > nav .bottom .nav_right > div > label {
    display: flex;
  }
  body header > nav .bottom .nav_right > div > label > img {
    width: 26px;
    height: 26px;
  }
  body header > nav .bottom .nav_right > div .menu1 {
    z-index: 9;
    right: -15%;
    top: 100%;
    width: 120px;
  }
  main .contect {
    font-size: 12px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
  }
  main .contect > p {
    margin: 0 0;
  }
  footer .foot {
    height: auto;
  }
  footer .foot > center .p1 {
    font-size: 14px;
  }
  footer .foot > center .p2 {
    font-size: 12px;
  }
}
main .menu_banner {
  width: 100%;
  height: 400px;
}
main .menu_banner > img {
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* 將圖片放大以填滿容器，保持寬高比 */
  opacity: 0.9;
}
main .eat .title {
  padding: 30px 30% 0 30%;
}
main .eat .title > h2 {
  color: #fff;
  text-align: center;
  background-color: #8C1E1E;
  padding: 10px 0;
}
main .eat .menu1 {
  display: flex;
  padding: 0 10% 0 20%;
  margin: 0 0 100px 0;
}
main .eat .menu1 > p {
  width: 30%;
  height: 30%;
  align-items: center;
  border: 3px solid #001D35;
  color: #001D35;
  background-color: beige;
  padding: 10px;
  margin: 25% 0;
  letter-spacing: 2px; /* 2 像素的字間距 */
  line-height: 24px;
}
main .eat .menu1 > img {
  background-color: #efe4af;
  width: 40%;
  height: auto;
  margin: 15px 80px 30px 0;
  box-shadow: 0px 5px 5px #8C1E1E;
}
main .eat .menu1 > img:hover {
  transform: scale(1.2); /* 將圖片放大到 1.2 倍 */
}
main .eat .menu2 {
  display: flex;
  padding: 0 10% 0 20%;
  margin: 0 0 100px 0;
}
main .eat .menu2 > p {
  width: 30%;
  height: 30%;
  align-items: center;
  border: 3px solid #001D35;
  color: #001D35;
  background-color: beige;
  padding: 10px;
  margin: 25% 0;
  letter-spacing: 2px; /* 2 像素的字間距 */
  line-height: 24px;
}
main .eat .menu2 > img {
  background-color: #efe4af;
  width: 40%;
  height: auto;
  margin: 15px 0 30px 80px;
  box-shadow: 0px 5px 5px #8C1E1E;
}
main .eat .menu2 > img:hover {
  transform: scale(1.2); /* 將圖片放大到 1.2 倍 */
}

@media (max-width: 768px) {
  main .menu_banner {
    height: 200px;
  }
  main .eat .title > h2 {
    font-size: 16px;
  }
  main .eat .menu1 {
    padding: 5%;
    display: flex;
    flex-direction: column;
  }
  main .eat .menu1 > img {
    width: 100%;
  }
  main .eat .menu1 > p {
    width: 95%;
    font-size: 12px;
    line-height: 20px;
    margin: 5% 0;
  }
  main .eat .menu2 {
    padding: 5%;
    margin-bottom: 45%;
    display: flex;
    flex-direction: column;
  }
  main .eat .menu2 > img {
    width: 100%;
    margin: 0;
  }
  main .eat .menu2 > p {
    position: absolute;
    width: 80%;
    height: auto;
    font-size: 12px;
    line-height: 20px;
    margin: 135% 0 0 0;
  }
}/*# sourceMappingURL=menu.css.map */