@charset "UTF-8";
body {
  background-color: #FFFEF9;
}
body ul,
body ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
  color: #001D35;
}
body header > nav .top {
  width: 101%;
  height: 35px;
  background-color: #8C1E1E;
}
body header > nav .bottom {
  z-index: 50;
  width: 100%;
  height: 50px;
  background-color: white;
  padding: 10px 0 10px 25px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
body header > nav .bottom > a > img {
  width: 200px;
}
body header > nav .bottom .nav_left {
  display: flex;
  flex-direction: row;
  margin: 1%;
  width: 40%;
}
body header > nav .bottom .nav_left .good:hover .menu {
  display: block;
}
body header > nav .bottom .nav_left .good a {
  margin-right: 20px;
}
body header > nav .bottom .nav_left .good .menu {
  z-index: 2;
  position: relative;
  display: none;
  background-color: beige;
}
body header > nav .bottom .nav_left .good .menu li {
  padding: 10px;
}
body header > nav .bottom .nav_left .good .menu li:hover {
  background-color: #FFFEF9;
}
body header > nav .bottom .nav_right {
  list-style-type: none;
  display: flex;
  position: absolute;
  right: 25px;
  top: 7%;
}
body header > nav .bottom .nav_right > li {
  margin-right: 10px;
}
body header > nav .bottom .nav_right > li > a {
  color: #001D35;
}

main .contect > p {
  color: #001D35;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer .foot {
  color: white;
  background-color: #8C1E1E;
  width: 100%;
  height: auto;
  padding: 10px;
}
footer .foot > center > p {
  margin: 0;
  justify-content: center;
}

main .menu_banner {
  width: 100%;
  height: 400px;
}
main .menu_banner > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* 將圖片放大以填滿容器，保持寬高比 */
  opacity: 0.9;
}
main .eat .title {
  padding: 30px 30% 0 30%;
}
main .eat .title > h2 {
  color: #fff;
  text-align: center;
  background-color: #8C1E1E;
  padding: 10px 0;
}
main .eat .menu1 {
  display: flex;
  padding: 0 10% 0 20%;
  margin: 0 0 100px 0;
}
main .eat .menu1 > p {
  width: 30%;
  height: 30%;
  align-items: center;
  border: 3px solid #001D35;
  color: #001D35;
  background-color: beige;
  padding: 10px;
  margin: 25% 0;
  letter-spacing: 2px; /* 2 像素的字間距 */
  line-height: 24px;
}
main .eat .menu1 > img {
  background-color: #efe4af;
  width: 40%;
  height: auto;
  margin: 15px 80px 30px 0;
  box-shadow: 0px 5px 5px #8C1E1E;
}
main .eat .menu1 > img:hover {
  transform: scale(1.2); /* 將圖片放大到 1.2 倍 */
}
main .eat .menu2 {
  display: flex;
  padding: 0 10% 0 20%;
  margin: 0 0 100px 0;
}
main .eat .menu2 > p {
  width: 30%;
  height: 30%;
  align-items: center;
  border: 3px solid #001D35;
  color: #001D35;
  background-color: beige;
  padding: 10px;
  margin: 25% 0;
  letter-spacing: 2px; /* 2 像素的字間距 */
  line-height: 24px;
}
main .eat .menu2 > img {
  background-color: #efe4af;
  width: 40%;
  height: auto;
  margin: 15px 0 30px 80px;
  box-shadow: 0px 5px 5px #8C1E1E;
}
main .eat .menu2 > img:hover {
  transform: scale(1.2); /* 將圖片放大到 1.2 倍 */
}/*# sourceMappingURL=menu.css.map */