main{
    .menu_border{
        img{
            margin: 10px;
        }
    }
    .drink>img{
        background-color: #FFFEF9;
        // background-position: center center;
        width: 500px;
        height: 700px;
        margin: 50px 100px;

    }
    
}