@charset "UTF-8";
body {
  background-color: #FFFEF9;
}
body ul,
body ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
  color: #001D35;
}
body header > nav .top {
  width: 101%;
  height: 35px;
  background-color: #8C1E1E;
}
body header > nav .bottom {
  z-index: 50;
  width: 100%;
  height: 50px;
  background-color: white;
  padding: 10px 0 10px 25px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
body header > nav .bottom > a > img {
  width: 200px;
}
body header > nav .bottom .nav_left {
  display: flex;
  flex-direction: row;
  margin: 1%;
  width: 60%;
}
body header > nav .bottom .nav_left .good:hover .menu {
  display: block;
}
body header > nav .bottom .nav_left .good a {
  margin-right: 20px;
}
body header > nav .bottom .nav_left .good .menu {
  margin-top: 10px;
  z-index: 2;
  position: relative;
  display: none;
  background-color: beige;
}
body header > nav .bottom .nav_left .good .menu li {
  padding: 10px;
}
body header > nav .bottom .nav_left .good .menu li:hover {
  background-color: #FFFEF9;
}
body header > nav .bottom .nav_right {
  list-style-type: none;
  display: flex;
  position: absolute;
  right: 25px;
  top: 7%;
}
body header > nav .bottom .nav_right > li {
  margin-right: 10px;
}
body header > nav .bottom .nav_right > li > a {
  color: #001D35;
}
body header > nav .bottom .nav_right > div {
  display: none;
}
body header > nav .bottom .nav_right > div > ol {
  list-style: none;
  padding-left: 0;
}
body header > nav .bottom .nav_right > div > ol > li > a {
  text-decoration: none;
}
body header > nav .bottom .nav_right > div > input {
  display: none;
}
body header > nav .bottom .nav_right > div > input::checked ~ .menu {
  max-height: 300px;
}
body header > nav .bottom .nav_right > div > label {
  padding-right: 50px;
  line-height: 50px;
  cursor: pointer;
}
body header > nav .bottom .nav_right > div #burger:checked + .menu1 {
  display: block;
}
body header > nav .bottom .nav_right > div .menu1 {
  clear: both;
  background: beige;
  display: none;
}
body header > nav .bottom .nav_right > div .menu1 li {
  text-align: center;
  border-bottom: 1px solid #efefef;
}
body header > nav .bottom .nav_right > div .menu1 li a {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  color: #000;
}
body header > nav .bottom .nav_right > div .menu1 li a:hover {
  background: #FFFEF9;
  color: #000;
}

main .contect > p {
  color: #001D35;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer .foot {
  color: white;
  background-color: #8C1E1E;
  width: 100%;
  height: auto;
  padding: 10px;
}
footer .foot > center > p {
  margin: 0;
  justify-content: center;
}

@media (max-width: 768px) {
  body header > nav .top {
    width: 106%;
  }
  body header > nav .bottom > a > img {
    width: 150px;
    margin-top: 5px;
  }
  body header > nav .bottom .nav_left {
    display: none;
  }
  body header > nav .bottom .nav_right {
    right: -35px;
  }
  body header > nav .bottom .nav_right > div {
    display: block;
  }
  body header > nav .bottom .nav_right > div > label {
    display: flex;
  }
  main .contect {
    display: flex;
    flex-direction: column;
  }
}
header .swiper {
  z-index: -1;
  width: 100%;
  height: 100%;
  margin-top: 70px;
}
header .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .swiper-slide img {
  display: block;
  width: 70%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .box {
  width: 100%;
  display: flex;
  margin: 80px 25px;
}
main .box .photo {
  width: 25%;
  position: relative;
  flex: 1;
}
main .box .photo > a {
  padding: 0 0 0 50px;
}
main .box .photo > a > img {
  width: 75%;
  height: 600px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover; /* 將圖片放大以填滿容器，保持寬高比 */
  overflow: hidden;
}
main .box .photo .caption {
  position: absolute;
  top: 40%;
  left: 50px;
  width: 75%;
  height: 50px;
  background-color: rgba(217, 213, 213, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
  color: #001D35;
}

@media (max-width: 768px) {
  header .swiper {
    z-index: -1;
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }
  header .swiper-slide img {
    display: block;
    width: 70%;
    height: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    align-items: center;
  }
  main .box {
    width: 100%;
    height: 200px;
    flex-direction: column;
    margin: 40px 0;
  }
  main .box .photo {
    width: 100%;
    position: relative;
    flex: 1;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .box .photo > a {
    padding: 0 0 0 50px;
  }
  main .box .photo > a > img {
    width: 75%;
    height: 120px;
    position: relative;
    -o-object-fit: cover;
       object-fit: cover; /* 將圖片放大以填滿容器，保持寬高比 */
    overflow: hidden;
  }
}/*# sourceMappingURL=home.css.map */