@import '_global';

header{
    .swiper {
        z-index: -1;
        width: 100%;
        height: 100%;
        margin-top: 70px;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 70%;
        height: 600px;
        object-fit: cover;
    }
}

main{
    .box{
        width: 100%;
        display: flex;
        margin: 80px 25px;
        // justify-content: space-between;
        // align-items: flex-start;
        .photo{
            width: 25%;
            position: relative;
            flex: 1;
            >a{
                padding: 0 0 0 50px;
                >img{
                    width: 75%;
                    height: 600px;
                    position: relative;
                    object-fit: cover;  /* 將圖片放大以填滿容器，保持寬高比 */
                    overflow: hidden;
                    
                    // &::before{               //照片蓋黑色
                    //     content: "";
                    //     position: absolute;
                    //     top: 0;
                    //     left: 0;
                    //     width: 100%;
                    //     height: 100%;
                    //     background-color: rgba(0, 0, 0, 0.5); /* 黑色半透明遮罩 */
                    // }
                }
            }
            .caption {
                position: absolute;
                top: 40%;
                left: 50px;
                width: 75%;
                height: 50px;
                background-color: rgba(217, 213, 213, 0.6);
                // text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 20px 0;
                font-size: 20px;
                font-weight: bold;
                color: #001D35;
            }
        }
    }
    
}


@media(max-width: 768px){
    header{
        .swiper {
            z-index: -1;
            width: 100%;
            height: 100%;
            margin-top: 50px;
        }
        .swiper-slide img {
            display: block;
            width: 70%;
            height: 50%;
            object-fit: cover;
            align-items: center;
        }
    }
    main{
        .box{
            width: 100%;
            height: 200px;
            flex-direction: column;
            margin: 40px 0;
            .photo{
                width: 100%;
                position: relative;
                flex: 1;
                object-fit: cover;

                >a{
                    padding: 0 0 0 50px;
                    >img{
                        width: 75%;
                        height: 120px;
                        position: relative;
                        object-fit: cover;  /* 將圖片放大以填滿容器，保持寬高比 */
                        overflow: hidden;
                    }
                }
            }
        }
        
    }
    
}